h1 {
    color: white;
    background-color: rgba(0, 128, 0, 0.436);
}

.first-block {
    background-color: rgba(255, 228, 196, 0.688);
}

.second-block {
    background-color: rgb(126, 57, 209) ;
}

.second-block li {
    color: white;
}

li {
    font-size: 18px;
    font-weight: bold;
}


.second-block .black-red, .first-block .black-red {
    background-color: black;
    color: red;
}