body {
    background-color: blanchedalmond;
}

.blokas {
    background-color: white;
    width: 450px;
    text-align: center;
    padding: 20px;
    margin: 30px auto;
}

button {
    background-color: blanchedalmond;
    border: none;
    padding: 10px;
    transition: transform 0.3s ease;
    font-weight: bold;
}

button:hover {
    transform: scale(1.1) ;
    cursor: pointer;
}