.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 50px;
}

.header button {
    width: 200px;
    border-radius: 25px;
    background-color: salmon;
    margin-top: 50px;
}

.header button:hover {  
    cursor: pointer;
    background-color: rgba(250, 128, 114, 0.651);
}