* {
    margin: 0;
    padding: 0;
}

body {
background-color: #E2E1E1;
}


#card {
    width: 276px;
    height: 345px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.544);
    background-color: white;
    position: relative;
}


.img {
    width: 100%;
    border-radius: 10px;
}

.img-div img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.content-div {
    margin-top: 25px;
    padding: 0 15px;
    background-color: white;
    
}

.content-div span {
    color: #959393;
    font-family: "Inter", sans-serif;
    size: 14px;
    font-weight: 400;
    
}

.content-div h3 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
}

.content-div img {
 border: 1px solid #959393;
 padding: 10px;
 border-radius: 50%;
margin-top: 10px;
}

#date-div {
    width: 56px;
    height: 56px;
    border-bottom: 25px;
    background-color: white;
    position: absolute;
    top: 155px;
    right: 10px;
    text-align: center;
    border-radius: 10px;

}

#date-div h3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 24px;
}

#date-div p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 12px;
}


